.Rapp.history
.DS_Store
ggmapTemp.png
data/*tripdata*.parquet
data/fhv_tripdata*.csv
data/fhvhv_tripdata*.csv
data/green_tripdata*.csv
data/yellow_tripdata*.csv
data/uber-raw-data*.csv
data/unaltered/*.csv
data/loaded/
tlc_statistics/*.csv
analysis/2023/fare_comparison_json/
